@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(46,112,44);
    background: linear-gradient(90deg, rgba(46,112,44,1) 0%, rgba(9,121,33,1) 45%, rgba(60,193,88,1) 82%, rgba(93,222,121,1) 90%);
}
header{
    text-align: center;
    color: white;
    padding: 4rem 0;
}
.main{
    background-color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
}

footer{
    color: white;
    text-align: center;
}
@media only screen and (max-width: 960px) {​​​​​
    main {​​​​​
      max-width: 880 px;
      margin: 0 auto;
  }​​​​​
  }​​​​​


